body {
  overflow-x: hidden;
  background-color: #0b0c10;
  margin:0;
}
.btn
{
  border-width: 2px;
  font-family: 'Roboto Mono', monospace;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.btn1
{
  color:#0b0c10!important;
  background-color: #66fcf1 !important;
}
.navbar {
  overflow: hidden;
  background-color: #1f2833;
  top: 0;
  width: 100%;
}
#logo
{
  color: #66fcf1;
  float: left;
  display: block;
}
.navbar
{
  margin: 0 8px 8px 0;
}
.navbar a {
  float: right;
  display: block;
  color: #66fcf1;
  margin-top: 10px;
  border-color: #66fcf1;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
}
.btn:hover
{
  box-shadow: 0px 5px 33px 4px #45a29e;
  background: #0b0c10 !important;
  transition: ease-in-out 0.7s;
  border-color:#66fcf1 !important;
 
  color: #66fcf1 !important;
  border-radius: 30px;
}
h2
{
  color: #66fcf1;
  font-family: 'Roboto Slab', serif;
}
h3
{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}
.first
{
  font-family: 'Roboto Slab', serif;
  margin-top: 100px;
}
.row-1
{
  background-color: #05386B;
  color: #EDF5E1;
}
.row-1 h1
{
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  font-weight: bold;
}
p
{
  font-family: 'Poppins', sans-serif;
}
.row-1 p
{
  font-weight: normal;
  font-size: 25px;
}
.btn-color
{
  background-color: #C2CAD0;
  color:#05386B;
  padding: 1vw;
  margin-bottom: 5%;
  margin-left:20px;
  margin-right: 20px; 
}
.btn-color:hover
{
  box-shadow: 15px 15px 20px 0 #8EE4AF;
  color: #05386B;
  transition: ease-in-out 0.3s;
  background-color: #5CDB95;
}
.tab2
{
  background-color: #8EE4AF;
}
.row-2 h2
{

  font-size: 40px;
  font-weight: bold;
  color: #05386B;
}
.row-2 p
{
  margin: 20px;
  font-size: 20px;
  color: #05386B;
}
.icons
{
  font-size: 60px;
  padding: 20px;
  border-radius: 20px;
  height: 100px;
  width: 120px;
  opacity: 1;
  color: #05386B;
  background-color: #EDF5E1;
}
.icons:hover
{
  transform: scale(1.3,1.3);
  transition: ease-in-out 0.4s;
}
.tab3
{
  background-color: #C2CAD0;
}
.cols h3
{
  color: #05386B;
  font-size: 30px;
}