.card
{
	margin-top: 4%;
	background-color: #0b0c10;
	color: white;
	box-shadow: 0px 2px 10px 2px #45a29e;
}
::placeholder {
  font-family: 'Roboto Slab', serif;
  color: #1f2833;
}
p
{
	font-size: 19px;
	color: #c5c6c7;
}
img
{
	margin: 15px;
}
.text-input
{
	border-radius: 10px; 
  background-color: #45a29e;
  color: #1f2833;
	width: 75%;
	border: none;
	outline: none;
	padding: 6px;
  padding-left: 15px;
	font-size: 16px;
}
input:-internal-autofill-selected
{
  color: #1f2833;
}
.submit
{
  font-family: 'Roboto Mono', monospace;	
  background-color: #0b0c10;
  color:#66fcf1;
  border-color: #66fcf1;
  border-width:2px;
  width: 65%;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
  padding: 6px;
  margin-bottom: 5%;
  margin-left:20px;
  margin-right: 20px; 
}
.submit:hover
{
	box-shadow: 0px 2px 13px 3px #45a29e;
  color: #0b0c10;
  border-color: #45a29e;
  transition: ease-in-out 0.3s;
  background-color: #45a29e;
}

